# Database
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=orders_db

# Redis
REDIS_URL=redis://:your_redis_password@redis:6379/0
REDIS_URL_RATE_LIMIT=redis://:your_redis_password@redis:6379/1
REDIS_URL_CELERY=redis://:your_redis_password@redis:6379/2
REDIS_PASSWORD=your_redis_password

# RabbitMQ
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672/
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
